<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="recommendation-detail">
        <h3><%= @topic.title %></h3>
        <div class="info">
          时间：<%= timeago(@topic.created_at) %> 阅读：<%=@topic.hits %>次 来源：<span class="label label-success">产学联原创</span>
        </div>
        <div class="cover markdown">
        <%= image_tag(@topic.cover.url) if @topic.cover.present? %></div>
        <div class="summary"><%= @topic.summary %></div>
      </div>
        <article class="markdown">
          <%= raw @topic.body_html %>
        </article>
      </div>
      
    </div>

    <% if current_user %>
    <script type="text/javascript">
      var readed_topic_ids = <%= @read_topic_ids || [] %>;
      for (var i = 0; i < readed_topic_ids.length; i++) {
        topic_id = readed_topic_ids[i];
        $(".topic-"+ topic_id).addClass('topic-visited');
        $(".topic-"+ topic_id + " .count a").addClass("state-true");
      }
    </script>
    <% end %>
  </div>
  <div class="sidebar col-md-3">
    <%= render "topics/sidebar_for_topic_index" %>
  </div>

</div>
