<div class="panel panel-default">
 <div class="panel-body">
  <%= simple_form_for([:wechat,@node]) do |f|%>
  <%= f.input :name%>
  <%= f.input :access_level,:collection=>{"私密"=>Node.accesses[:secretive],"半公开"=>Node.accesses[:semi_public]}, as: :radio_buttons,label: '状态'%>
  <%= f.input :tag,label: '标签'%>
  <%= f.input :summary ,as: :text%>
  <br>
  <%= f.button :submit, "修 改",class: 'btn  form-control  btn-success '%>
  <br>
  <br>
  <%= link_to "取 消",circle_more_wechat_nodes_path,class: 'btn  form-control  btn-info '%>
  <br>
  <br>
  <% end %>
</div>
</div>